.contenedor{
    height:80vh;
    width:100vw;
    padding:0px;
    margin:0px;
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    background: linear-gradient(180deg,#567d9f,#376085);
    background-size: 100% 45%;
    background-repeat: no-repeat;
}

main{
    display:flex;
    flex-flow: row no-wrap;
    justify-content: center;
    align-items: flex-start;
    padding-top:10vh;
    margin: 5vh;

    
    height: 50%;
    width: 70%;
    
}

.section1{
    width: 30%;
    padding-left: -5vh;
}
.section2{
    width: 60%;
    padding: 5vh;
}



.image-moviles{
    height:100%;
}



.insta-container{
    width:100%;
    display:flex;
    flex-flow: row no-wrap;

    align-items:center;
    justify-content: space-between;   
}
.image-instagram-logo{
    height:100%;
}
.boton-login{
    background: linear-gradient(180deg,#6f93b1,#497499);
    display:flex;
    flex-flow: row no-wrap;
    align-items:center;
    justify-content: stretch;

}

.text1{
    color:#ffffff;
    font-size: 1vh;
    margin:1vh;
}

.estructure-text{
    background-image: url("images/frame.png");
    background: linear-gradient(180deg,#ffffff, rgba(255, 255, 255, 0));
    background-size: 100%;
    background-repeat: no-repeat;
    padding:4vh;
    padding-top:2vh;
}


h1{
 color: #0f385d;
}

p{
    color: #5a5a5a;
}

.menu-bar{
    display:flex;
    flex-flow: row no-wrap;
    justify-content: center;
    align-items: center;
    margin-top: 15vh;

}

.link{
    font-size: 1.5vh;
    text-decoration: none;
    color:#477399;
    margin: 0.5vh;
}

.text-copiright{
    color:#b7b7b8;
    margin: 1vh;
}